<!-- <footer id="contact">
  <div class="well" style="background: #0033">
  <div class="container" background: '#fff';>
  <div class="row">
    <div class="col-lg-4 col-md-1 col-sm-0"></div>
    <div class="col">
      <div class="section-title">
        <br>
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</div>
</div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<br> -->

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-2">
    Developers :
    <!-- <a href="https://www.linkedin.com/in/harshitmuhal/">Harshit Muhal</a> & <a href="https://www.linkedin.com/in/harsh-jain-b21ba81b9/">Harsh Jain</a> -->
  </div>
  
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">

  <div class="row">

    <div class="col">
      <h5>Harshit Muhal:</h5>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/Harshit_muhal">
            <i class="fa fa-fw fa-twitter" style="color:#ffffff;"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/harshitmuhal/">
            <i class="fa fa-fw fa-linkedin" style="color:#ffffff;"></i>
          </a>
        </li>

          <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/harshitmuhal">
            <i class="fa fa-fw fa-github" style="color:#ffffff;"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Harsh Jain:</h5>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
            <i class="fa fa-fw fa-twitter" style="color:#ffffff;"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
            <i class="fa fa-fw fa-linkedin" style="color:#ffffff;"></i>
          </a>
        </li>

          <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="">
            <i class="fa fa-fw fa-github" style="color:#ffffff;"></i>
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
